<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  {% comment %} <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet"> {% endcomment %}
</head>
<body>
  {% include 'ui/navbar.html' %}
    <div class="d-flex justify-content-center">
  <div class="container-fluid ">
    <div class="row-fluid">
        {% block content %}
        {% endblock %}
    </div>
  </div>
  </div>
  <script src="https://code.highcharts.com/highcharts.js"></script>
</body>

 {% include 'ui/footer.html' %}
<style>
.errorlist {
    color: red;
}
.error input, .error select {
    border: 2px red solid;
}
</style>
</html>
