{% extends 'ui/base.html' %}
{% block content %}
<br />
<div class="container">
<h4 style="color:#007bff">BCC Covid-Directory Dashboard</h4>
<br/>
<div class="card-deck">
  <div class="card bg-primary text-white text-center p-3"  style="max-width: 18rem;"    >
  <div class="card-body">
    <h1 class="display-3">12</h1>
    <p class="card-text">Number of Users in BCC Covid Directory.</p>
  </div>
  </div>

<div class="card text-white bg-secondary text-center p-3" style="max-width: 18rem;">
  <div class="card-body">
    <h1 class="display-3">52</h1>
    <p class="card-text">Number of Eligible Screenings performed.</p>
  </div>
</div>
<div class="card text-white bg-success text-center p-3" style="max-width: 18rem;">
  <div class="card-body">
    <h1 class="display-3">14123</h1>
    <p class="card-text">Total number of Tests</p>
  </div>
</div>
<div class="card text-white bg-danger text-center p-3" style="max-width: 18rem;">
  <div class="card-body">
    <h1 class="display-3">2000</h1>
    <p class="card-text">Total number of Positive cases.</p>
  </div>
</div>
</div>
</div>

{% endblock %}
